:root {
  --background--color: linear-gradient(to right, #5c4bd2, #9e8afd);
  --font--color-body: #333333;
  --font--text-: #ffffff;
  --btn--main: #ff94c2;
  --btn-hover: #e56e94;
  --font-family: 'Press Start 2P', cursive, sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  font-family: var(--font-family);
  font-size: 180%;
  color: var(--font--text-);
  background: var(--background--color);
}

a {
  color: var(--font--text-);
  text-decoration: none;
  transition: color 0.1s;
}

a:hover {
  color: #8570a5;
}

/* Highlight the text different colour for users to see */
.highlight {
  color: #000000;
}

/* buttons section  */
button {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 25px;
  background-color: var(--btn--main);
  padding: 10px 10px;
  color: white;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--btn-hover);
}

.choices button {
  display: block;
}

input[type='text'] {
  font-size: 100%;
}

ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

li {
  padding: 5px;
  list-style: decimal inside none;
}

li:nth-child(odd) {
  background-color: #f3edfc;
}

.wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px;
}

.hide {
  display: none;
}

.start {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

/* Highscore Section */
.scores {
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 25px;
  background-color: var(--btn--main);
  padding: 10px 10px;
  color: white;
  transition: background-color 0.3s ease;
}

.scores:hover {
  background-color: var(--btn-hover);
}
.scores a:hover {
  color: var(--font--text-);
}

.feedback {
  font-style: italic;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: gray;
  border-top: 2px solid #ccc;
}

/* Timer section  */
.timer {
  position: absolute;
  top: 15px;
  right: 10px;
  color: #fff;
}

#time {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
  color: #fff;
  padding: 20px;
  border-radius: 25px;
  margin-bottom: 20px;
  transform: translateX(-50%);
  /* justify-content: space-around; */
}
